* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: url("../img/49380.png") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

body * {
    z-index: 1;
}

.h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dddddd;
    padding: 10px;
}

.input {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    text-align: right;
    margin-right: 3%;
    margin-left: 3%;
    width: 93%;
    height: 50px;
    font-size: 1.6rem;
    background: #222222;
    border: none;
    color: #dddddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* user-select: none; */
    cursor: default;
}

.container {
    background: rgba(25, 25, 45, 0.8);
    width: 50%;
    padding-bottom: 10px;
}

.container1 {
    flex: 3;
}

.container2 {
    flex: 1;
}

.board {
    text-align: center;
    width: 93%;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(65px, auto);
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    margin-right: 3%;
    margin-left: 3%;
}

.num {
    font-size: 3.3rem;
    color: #dddddd;
    user-select: none;
}

.nan p {
    color: #777777;
    font-size: 2rem;
    margin: 10px;
    user-select: none;
    /* padding-top: 10px; */
}

.btn,
.equals {
    border: 2px solid rgba(25, 25, 45, 0.8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    background: #222222;
    margin: auto;
}

.equals {
    background: rgba(25, 25, 45, 0.9);
}

.equals:hover {
    background: rgb(94, 94, 141);
    cursor: default;
}

.btn:hover {
    background: #555555;
    cursor: default;
}

.btn:active,
.equals:active {
    background: white;
    color: #222222;
}

.memory {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

.memory {
    list-style: none;
}


@media(max-width: 700px){
    h2 {
        font-size: 0.7 rem;
    }

    .input {
        font-size: 1.2 rem;
        justify-content: wrap;
    }

    .container {
        /* position: relative; */
        background: rgba(25, 25, 45, 0.8);
        width: 90%;
        /* height: 50%; */
        padding-bottom: 10px;
    }

    .num {
        font-size: 1.8rem;
        color: #dddddd;
        user-select: none;
    }

    .nan p {
        color: #777777;
        font-size: 1.6rem;
        margin: 10px;
        user-select: none;
        /* padding-top: 10px; */
    }
}

@media screen and (max-width: 450px) {
    h2 {
        font-size: 0.5rem;
        font-weight: 300;
    }

    .container {
        width: 100%;
    }
}